@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}
body{
    background-image:url('bg1.png');
}
#game{
    margin:auto;
    height: 500px;
    width:360px;
    border: 5px solid white;
    border-radius: 15px;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    margin-top:10px;
}
#greencar{
    position: relative;
    top:0px;
    bottom:0px;
    left:75px; 
    animation: move 1.3s linear infinite ;
    animation-play-state:paused;
}
@keyframes move {
    0%{
        top:0px;
    }
    100%{
        top: 501px;
    }
}
#racecar{
    position: relative;
    top: 250px;
    left:140px;
}
#greencar img{
    height: 100px;
    border-bottom:10px solid  rgba(255,255,0,0.4);
    border-radius: 30%;
}
#racecar img{
    height: 100px;
    border-top:30px solid  rgba(255,255,0,0.4);
    border-radius: 50%;
}
#result{
    height: 200px;
    width: 400px;
    background-color:transparent;
    margin: 15% auto;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: red;
    display:none;
    border: 5px solid maroon;
}
#score{
    font-size: 2.2rem;
    font-size: bold;
    color:white;
    background-color: green;
}
#btn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}
#score-div{
    display:flex;
    justify-content: space-around;
    margin: 10px auto;
    height: 100%;
    align-items: center;
}
#score-div h2{
    color: white;
    background-color:black;
    padding: 5px; 
}
#card h1{
    text-align: center;
    color: white;
    margin: auto;
    border: 1px solid white;
    width: 25%;
    background-color: black;
    padding: 5px;
}
